name: Code Quality Analysis

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: PMD
        uses: pmd/pmd-github-action@v2.0.0
        with:
          rulesets: 'category/java/errorprone.xml'
